body {
  background-color:#A56CE6;
  text-align: center;
}


h1 { 
font-size: 3em;
color: #DFFDFF;
}


#addOne { 
  background-color: #68EDC6
  
}



#theList { 
  display: flex;
  justify-content: center;



}

ul {
/* padding: left 40px;
padding: right: 10px; */
display : flex;
justify-content: center;
/* background-color:#68EDC6; */
/* padding: left 40px;
padding: right: 10px; */

}

.deleteButton{
  border: 3px solid #FFA69E;
  background: none;
  color: black;
  padding: 20px 40px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.deleteButton:hover {
  color: #0D1321;
}
.deleteButton:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFA69E;
  z-index: -1;
  border-radius: 50% 50% 0% 0%;
  height: 0%;
  transition: all 0.5s;
}
.deleteButton:hover:before {
  height: 190%;
}